<div class="modal-header">
  <h2 class="modal-header__title">{{ getHeaderName }}</h2>
  <mat-icon
    class="modal-header__icon"
    [color]="'primary'"
    [fontIcon]="'close'"
    (click)="closeModal()"
  ></mat-icon>
</div>
<div class="modal-body">
  <form class="form-wrapper">
    <mat-form-field>
      <mat-label>Enter the name of event</mat-label>
      <input
        matInput
        type="text"
        [formControl]="formGroup.get(EControlNames.NAME) | controlConverter"
      />
      @if (formGroup.get(EControlNames.NAME) | controlConverter) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearName()"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="formGroup" [rangePicker]="picker">
        <input
          matStartDate
          placeholder="Start date"
          [formControlName]="EControlNames.START_DATE"
        />
        <input
          matEndDate
          placeholder="End date"
          [formControlName]="EControlNames.END_DATE"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-checkbox
      [formControl]="formGroup.get(EControlNames.IS_HOLIDAY) | controlConverter"
    >
      Is holiday
    </mat-checkbox>
  </form>
</div>
<div class="modal-footer">
  <button mat-raised-button (click)="closeModal()">Cancel</button>
  <button
    mat-raised-button
    [color]="'primary'"
    [disabled]="!formGroup.valid"
    (click)="handleSubmit()"
  >
    Submit
  </button>
</div>
