@use 'fonts';

// COLORS
$white: #FFFFFF;
$black: #000000;
$grey: #939393;
$grey-hover: #ECE8E8;
$blue: #0C85F3;
$blue2: #5067E1;
$blue-hover: #72C6FF;
$green: #6FA700;

// TYPOGRAPHY
$font-family-base: fonts.$caveat;
$font-size-base: 17px;
$line-height-base: 21px;
